<div class="row welcome-jumbo jumbotron">
	<h1 class="text-center">Topics</h1>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1 welcome-sub-cols">
		<hr />
		<% if user_is_authorized_for_topics? %>
			<%= link_to "New Topic", new_topic_path, class: "btn btn-primary pull-right" %>
		<% end %>
		<% @topics.each do |topic| %>
			<div class="media">
				<div class="media-body">
					<h4 class="media-heading">
						<%= link_to topic.name, topic %>
					</h4>
					<small>
						<%= topic.description %>
					</small>
				</div>
			</div>
		<% end %>
	</div>

	<!-- <% if user_is_authorized_for_topics? %>
		<div class="col-md-1">
			<%= link_to "New Topic", new_topic_path, class: "btn btn-primary" %>
		</div>
	<% end %> -->
</div>
