<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h1 class="text-center">About Post Maestro</h1>
		<hr />
		<section class="about-section">
			<p class="lead text-center">Post Maestro is a Reddit-like app is a place to post links and text, and comment on them. for sharing posts, commenting and voting!</p>
			<p class="lead text-center">It was created during my web development apprenticeship with <a href="http://bloc.io">Bloc</a> to practice building practical web applications with Ruby on Rails.</p>
			<p class="lead text-center">Checkout the <a href="https://github.com/dmhuebner/post-maestro" target="_blank">project repository</a> on GitHub or take a look at some of my other projects on my website: <a href="http://davidmhuebner.com" target="_blank">davidmhuebner.com</a>.</p>
		</section>
	</div>
</div>
