<br />
<div class="welcome-jumbo jumbotron">
	<h1>Bloccit</h1>
	<p>Bloccit is a Reddit-like app designed to let users share and explore posts and links. Users can comment on public posts and up or down vote posts they come across.</p>
	<p>
		<%= link_to "Sign In", new_session_path %> or
		<%= link_to "Sign Up", new_user_path, class: "btn btn-primary" %> today!
	</p>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1 welcome-sub-cols">
		<div class="col-md-4">
			<h2>Bloccit is Free</h2>
			<p>Bloccit is 100% free! You just need to be signed in to post, comment, or vote on a post!</p>
		</div>
		<div class="col-md-4">
			<h2>Discuss & Comment</h2>
			<p>Bloccit is a place to share, explore, and discuss whatever you want!</p>
		</div>
		<div class="col-md-4">
			<h2>Favoriting Posts</h2>
			<p>Bloccit allows users to favorite posts they want to follow. Users receive email notifications about their favorite posts when users comment on them.</p>
		</div>
	</div>
</div>
